section
{
    width: 50%;
    height: 600px;
    background-color: $bg-color;
    margin: 100px auto;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}

.activeArt
{
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color;

}

.art_sections_title
{
    font-family: $Cormorant;
    color: lighten($color: $second-color, $amount: 15%); 
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

