.baner
{
    font-family: 'Dancing Script';
    .img
    {
     background-image: url('../img/baner.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100vw;
     height: 45vh;
    }
}


.App-header
{
    background-color: $bg-color;
    -webkit-box-shadow: 0px 0px 47px 4px rgba(255, 153, 224, 0.8);
    -moz-box-shadow: 0px 0px 47px 4px rgba(255, 153, 224, 0.8);
    box-shadow: 0px 0px 47px 4px rgba(255, 153, 224, 0.8);
    font-family: 'Dancing Script';

   

    .header-section
    {
    color: lighten($color: $base-color, $amount: 25%);
    text-decoration: none;
    text-align: center;
    transition: .3s;
    }

    .header-section:hover 
    {
        color: lighten($color: $base-color, $amount: 30%);
        text-shadow:-2px -2px 7px lighten($color: $base-color, $amount: 30%);
    }

    //media 1367 

    @media (min-width: 1367px)
    {
      
       display: flex;
       height: 80px;
        
       .header-section
        {
          flex-grow: 1;
          margin: auto 10px;
          font-size: 1.5rem;
          letter-spacing: 3px;
          position: relative;
        }
}

   //media 801 - 1366

    @media (min-width: 801px) and (max-width: 1366px)
    {
        display: flex;

        .header-section  
           {
               font-size: 1.3rem;
               margin: 10px 30px;
               letter-spacing: 2px;
           }
    }

    //media 360 - 800

    @media (min-width: 360px) and (max-width: 800px)
    {
        display: flex;
        flex-direction: column;
        height: 350px;

        .header-section 
           {
               
               font-size: 1.3rem;
               margin: auto 30px;
               letter-spacing: 3px;
               padding: 0 auto;
               border-bottom: 1px solid lighten($color: $base-color, $amount: 5%);
           }
    }

}