figure {
    height: 0;
    padding-bottom: 56.25%; 
    position: relative;
    width: 100%;

    iframe {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -50%);
        width: 50%;
      }

      .animationAdobe_subtitle
      {
        margin-top: 10px;  
        color: lighten($color: $second-color, $amount: 15%);
        font-family: $Cormorant;
        text-align: center;
        left: 50%;
        transform: translateX(-55%);
        position: absolute;

        @media (min-width: 360px) and (max-width: 800px)
        {
            bottom: -20%;
        }

        @media (min-width: 801px) and (max-width: 1366px)
        {
            bottom: 1%;
        }

        @media (min-width: 1367px)
        {
            bottom: 10%;
        }

           span 
           {
                font-size: 16px; 
           }
      } 

      .animationGSAP_rate
      {
          position: relative;
          right: 2%;
      }
    
  }

  